name: Covid-19 Tracker

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Node
      uses: actions/setup-node@v2-beta
      with:
        node-version: 13
    - uses: borales/actions-yarn@v2.0.0
      with:
         cmd: install
    - name: Building React App
      run: yarn build
    - name: Installing Surge
      run: npm install --global surge
    - name: Run surge
      run: surge ./build covid19-tracker-abdurrahman.surge.sh --token ${{ secrets.S_TOKEN }}
